.row {
  height:16px;
  min-height:16px;
  max-height:16px;
  margin: 0px;
  padding: 0px;
}

.cell {
  width: 16px;
  min-width: 16px;
  max-width: 16px;
  display: inline-block;
  background: black;
  margin: 0px;
  padding: 0px;
}
